.container {
  margin: 0 auto;
  max-width: var(--max-width);
}

.d-flex {
  @include breakpoint(medium) {
    display: flex;
    width: 100%;

    &.margin {
      > div:first-child {
        margin-right: 12px;
      }

      > div:last-child {
        margin-left: 12px;
      }
    }
  }

  &.margin {
    > div {
      margin-bottom: 1rem;
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s ease-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
