html {
  background: #202a36;
  box-sizing: border-box;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  word-spacing: 1px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

#__nuxt,
#__layout {
  height: 100%;
}

body {
  font-family: var(--primary-font);
  height: 100%;
}

.app_rpr {
  background: linear-gradient(to right, #202a36, #332436);
  color: var(--text-color);
}

a {
  color: var(--text-color);
}
